:root {
    --fundo: #bebebe;
    --texto: #4d3232;
}

.darkmode {
    --fundo: #552626;
    --texto: #cca5a5;
}

div {
    width: 300px;
    height: 300px;
}

span {
    color: var(--texto);
}

body {
    background-color: var(--fundo);
}